---
import Demo03 from "./Demo03.md";
---

<h2 class="heading">フェードインアニメーション02</h2>
<div class="cont sample js-fadeStagger">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>

<div class="md">
  <Demo03 />
</div>

<style lang="scss">
  .sample {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      width: 200px;
      height: 200px;
      background-color: #333;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray<HTMLElement>(".js-fadeStagger").forEach((item) => {
    const el = item.querySelectorAll("div");
    gsap.from(el, {
      y: 10,
      opacity: 0,
      duration: 0.6,
      scrollTrigger: {
        trigger: item,
        start: "top 75%",
        toggleActions: "play none none reverse",
        markers: true,
      },
      stagger: {
        amount: 0.6,
        from: "start",
        ease: "sine.in",
      },
    });
  });
</script>
